.navbar {
    display: flex;
    padding: 30px;
    justify-content: space-around;
    background-color: darkseagreen;
}

.nav-ul {
    display: flex;
}

.nav-li {
    margin: 15px
}

.toggle-button {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 25px;
    color: black;
    display: none;
}

